section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
}

table {
    border-collapse: collapse;
}

td, th {
    border: 1px solid black;
    padding: 5px;
    text-align: center;
    cursor: pointer;
}

.pages {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 50%;
    padding-top: 20px;
}

.pages div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.pages div p, .pages div i {
    cursor: pointer;
    font-size: 20px;
    color: #5151ff;
}

.pages div p:hover, .pages div i:hover {
    text-decoration: underline;
}

.mid-pages-and-select {
    flex-direction: column;
}

select {
    font-size: 18px;
    border: none;
}

.sort-asc .sort-icon:after {
    content: '\25b2';
    margin-left: 5px;
    position: relative;
    top: -1px;
}

.sort-desc .sort-icon:after {
    content: '\25bc';
    margin-left: 5px;
    position: relative;
    top: -1px;
}

.delete-message {
    position: fixed;
    bottom: -50px;
    left: 0;
    width: 100%;
    height: 40px;
    background-color: gray;
    color: white;
    transition: bottom 0.7s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}

.delete-message.visible {
    bottom: 0;
}