section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - var(--header-height));
    gap: 100px;
    position: relative;
}

section form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: calc(100vh - var(--header-height));
    width: 40%;
}

.form-group {
    margin-bottom: 15px;
    width: calc(100% - 20px);
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"], input[type=number] {
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
    width: 100%;
}

button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #0069d9;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.error_message {
    font-weight: bold;
    font-size: 25px;
}

.weather {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px #ccc;
    text-align: center;
    position: absolute;
    right: 15%;
    transform: translateX(50%);
    top: 80px;
    min-width: 10%;
}

.weather img {
    max-width: 100%;
}

.weather h2 {
    font-size: 30px;
    margin: 15px 0;
}

.weather p {
    font-size: 20px;
}

.update-message {
    position: fixed;
    bottom: -50px;
    left: 0;
    width: 100%;
    height: 40px;
    background-color: gray;
    color: white;
    transition: bottom 0.7s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}

.update-message.visible {
    bottom: 0;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}