* {
    margin: 0;
    padding: 0;
}

:root {
    --header-height: 50px;
}

header {
    height: var(--header-height);
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 200px;
}

nav ul li {
    position: relative;
}

nav ul li a {
    display: block;
    padding: 10px;
    color: #333;
    text-decoration: none;
    font-weight: bold;
    border-radius: 12px;
    font-size: 18px;
}

nav ul li a:hover {
    color: white;
    background-color: gray;
}