<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Villes</title>
  <link rel="stylesheet" th:href="@{/css/all.css}" />
  <link rel="stylesheet" th:href="@{/css/all.min.css}" />
  <link rel="stylesheet" th:href="@{/css/header.css}">
  <link rel="stylesheet" th:href="@{/css/cities.css}">
</head>
<body>
<th:block th:insert="~{fragments/header}"></th:block>
<section>
  <table>
    <caption hidden="hidden">Les villes</caption> <!--Pour sonar-->
    <thead>
      <tr>
        <th id="Code_commune_INSEE">
          Code INSEE
          <i class="fa-solid fa-arrow-down" th:if="${order == 'Code_commune_INSEE_A'}"></i>
          <i class="fa-solid fa-arrow-up" th:if="${order == 'Code_commune_INSEE_D'}"></i>
        </th>
        <th id="Nom_commune">
          Nom
          <i class="fa-solid fa-arrow-down" th:if="${order == 'Nom_commune_A'}"></i>
          <i class="fa-solid fa-arrow-up" th:if="${order == 'Nom_commune_D'}"></i>
        </th>
        <th id="Code_postal">
          Code postal
          <i class="fa-solid fa-arrow-down" th:if="${order == 'Code_postal_A'}"></i>
          <i class="fa-solid fa-arrow-up" th:if="${order == 'Code_postal_D'}"></i>
        </th>
        <th id="Libelle_acheminement">
          Libelle acheminement
          <i class="fa-solid fa-arrow-down" th:if="${order == 'Libelle_acheminement_A'}"></i>
          <i class="fa-solid fa-arrow-up" th:if="${order == 'Libelle_acheminement_D'}"></i>
        </th>
        <th id="Ligne_5">
          Ligne 5
          <i class="fa-solid fa-arrow-down" th:if="${order == 'Ligne_5_A'}"></i>
          <i class="fa-solid fa-arrow-up" th:if="${order == 'Ligne_5_D'}"></i>
        </th>
        <th id="Latitude">
          Latitude
          <i class="fa-solid fa-arrow-down" th:if="${order == 'Latitude_A'}"></i>
          <i class="fa-solid fa-arrow-up" th:if="${order == 'Latitude_D'}"></i>
        </th>
        <th id="Longitude">
          Longitude
          <i class="fa-solid fa-arrow-down" th:if="${order == 'Longitude_A'}"></i>
          <i class="fa-solid fa-arrow-up" th:if="${order == 'Longitude_D'}"></i>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="city : ${cities}" th:attr="onclick=|goToCity('${city.codeCommuneInsee}')|">
        <td th:text="${city.codeCommuneInsee}"></td>
        <td th:text="${city.nomCommune}"></td>
        <td th:text="${city.codePostal}"></td>
        <td th:text="${city.libelleAcheminement}"></td>
        <td th:text="${city.ligne5}"></td>
        <td th:text="${city.latitude}"></td>
        <td th:text="${city.longitude}"></td>
      </tr>
    </tbody>
  </table>
  <form method="get" action="/cities" class="pages">
    <input th:if="${order != null}" type="hidden" name="order" th:value="${order}">
    <div class="1-to-3">
      <p onclick="goToPage(0)">1</p>
      <p onclick="goToPage(1)">2</p>
      <p onclick="goToPage(2)">3</p>
    </div>
    <div class="mid-pages-and-select">
      <div class="mid-pages">
        <i class="fa-arrow-left-long fa-solid" th:attr="onclick=|goToPage('${page-1}')|"></i>
        <select>
          <th:block th:each="i : ${#numbers.sequence(0, maxPage - 1)}">
            <option th:text="${i+1}" th:value="${i}" th:if="${i == page}" selected="selected"></option>
            <option th:text="${i+1}" th:value="${i}" th:unless="${i == page}"></option>
          </th:block>
        </select>
        <i class="fa-arrow-right-long fa-solid" th:attr="onclick=|goToPage('${page+1}')|"></i>
      </div>
    </div>
    <div class="last-pages">
      <p th:each="i : ${#numbers.sequence( maxPage - 2, maxPage)}" th:text="${i}" th:attr="onclick=|goToPage('${i-1}')|"></p>
    </div>
    <input type="submit" hidden="hidden" name="page" id="page_city">
  </form>
  <div th:if="${delete_message != null}" class="delete-message" th:text="${delete_message}"></div>
</section>
</body>
<script type="text/javascript" th:src="@{/js/cities.js}"></script>
</html>
